# Dependencias
node_modules/

# Secretos y entorno
.env

# Base de datos local (evita sobrescribir en despliegues)
*.db
*.sqlite

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store